@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 900;
  src: local("Pretendard Black"), local("Pretendard-Black"), url(../fonts/Pretendard-Black.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: local("Pretendard ExtraBold"), local("Pretendard-ExtraBold"), url(../fonts/Pretendard-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: local("Pretendard ExtraBold"), local("Pretendard-ExtraBold"), url(../fonts/Pretendard-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: local("Pretendard Bold"), local("Pretendard-Bold"), url(../fonts/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: local("Pretendard SemiBold"), local("Pretendard-SemiBold"), url(../fonts/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: local("Pretendard Medium"), local("Pretendard-Medium"), url(../fonts/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: local("Pretendard Regular"), local("Pretendard-Regular"), url(../fonts/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: local("Pretendard Light"), local("Pretendard-Light"), url(../fonts/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200;
  src: local("Pretendard ExtraLight"), local("Pretendard-ExtraLight"), url(../fonts/Pretendard-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  src: local("Pretendard Thin"), local("Pretendard-Thin"), url(../fonts/Pretendard-Thin.woff) format("woff");
}
/* 초기화 */
html {
  overflow-y: scroll;
}

body {
  font-size: 12px;
  margin: 0;
  font-family: "Pretendard", Arial, sans-serif;
  background: #bdbdbd;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img,
dl,
dt,
dd,
il,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
p {
  letter-spacing: -0.08px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

legend {
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
}

label,
input,
button,
select,
img {
  vertical-align: middle;
}

input {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 1em;
}

input[type=text],
input[type=number],
input[type=password],
textarea,
select {
  border: 1px solid #ddd;
}

input[type=text],
input[type=password],
input[type=submit],
input[type=image],
input[id=stx],
textarea {
  -webkit-appearance: none;
}

button {
  border-radius: 0;
  font-size: 1em;
  -webkit-appearance: none;
  font-family: "Pretendard" !important;
  cursor: pointer;
}

th,
th a {
  font-weight: bold !important;
  font-size: 12px !important;
}

textarea,
select,
input {
  font-family: inherit;
  font-size: 1em;
}

select {
  height: 22px;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

hr {
  display: none;
}

pre {
  margin: 0;
  padding: 0;
  line-height: 0.65em;
  font-size: 1em;
}

a {
  cursor: pointer;
  color: #222;
}

a:link,
a:visited {
  text-decoration: none;
}

select option {
  border-radius: 0;
}

select option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: 1px solid #000; /* 이 부분은 선택 사항이며, 테두리를 추가하는 데 사용됩니다. */
}

select::-ms-expand {
  /* 화살표 없애기 for IE10, 11*/
  display: none;
}

input[type=file]::file-selector-button {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  transition: 1s;
  border: 1px solid black;
  border-radius: 0;
  color: black;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  background: white;
  position: relative;
}
.container header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  border-bottom: 1px solid #efefef;
}
.container main {
  padding: 28px 16px;
}
.container main .forms-group {
  padding: 8px 0;
}
.container main .forms-group:first-child {
  padding-top: 0;
}
.container main .forms-group .forms-title {
  padding-bottom: 8px;
}
.container main .forms-group .forms-title strong {
  font-weight: bold;
  font-size: 14px;
  line-height: 16.1px;
  padding-bottom: 8px;
}
.container main .forms-group .forms-title span {
  font-size: 12px;
  line-height: 12px;
  color: #8f8f8f;
  font-weight: 500;
}
.container main .forms-group .UserDataCheck {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
.container main .forms-group .UserDataCheck input[type=checkbox] {
  width: 24px;
  height: 24px;
}
.container main .forms-group .UserDataCheck strong {
  padding-bottom: 0;
}
.container main .forms-group .forms-end input[type=text] {
  border: 1px solid #303030;
  border-radius: 8px;
  padding: 13px 12px;
  width: 100%;
}
.container main .forms-group .forms-end input[type=number] {
  border: 1px solid #303030;
  border-radius: 8px;
  padding: 13px 12px;
  width: 100%;
}
.container main .forms-group .forms-end input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.container main .forms-group .forms-end input[type=checkbox] {
  width: 24px;
  height: 24px;
}
.container main .forms-group .forms-end input[type=text].area {
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 13px 12px;
  width: 100%;
  background: url(../images/arrow-bottom.png) no-repeat right 14px center;
  outline: none;
  cursor: pointer;
}
.container main .forms-group .forms-end #free-time {
  border-color: #8f8f8f;
}
.container main .forms-group .forms-end .textarea-box {
  position: relative;
}
.container main .forms-group .forms-end .textarea-box textarea {
  resize: none;
  width: 100%;
  height: 104px;
}
.container main .forms-group .forms-end .textarea-box textarea::-webkit-scrollbar {
  display: none;
}
.container main .forms-group .forms-end .textarea-box > div {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.container main .forms-group .forms-end .textarea-box > div span {
  color: #5064ff;
}
.container main .forms-group .forms-end .time {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 8px;
}
.container main .forms-group .forms-end .time li {
  width: calc(50% - 4px);
}
.container main .forms-group .forms-end .time li label {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.container main .forms-group .forms-end .markings {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 20px;
}
.container main .forms-group .forms-end .markings li label {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.container main .forms-group .UserDataDetail {
  padding: 12px;
  background: #f6f6f6;
}
.container main .forms-group .UserDataDetail > div {
  padding-bottom: 16px;
}
.container main .forms-group .UserDataDetail > div > span {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  padding-bottom: 16px;
}
.container main .forms-group .UserDataDetail > ul > li {
  padding-bottom: 16px;
}
.container main .forms-group .UserDataDetail > ul > li p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.container main .forms-group .UserDataDetail > ul > li:first-child p {
  padding-bottom: 8px;
}
.container main .forms-group .UserDataDetail > ul > li:first-child ul {
  display: flex;
}
.container main .forms-group .UserDataDetail > ul > li:first-child ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.container main .forms-group .UserDataDetail > ul > li:first-child ul li h2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  background: #efefef;
  border: 1px solid #d2d2d2;
  padding: 8px;
}
.container main .forms-group .UserDataDetail > ul > li:first-child ul li span {
  padding: 8px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 1px 0px 0px 1px;
  width: 100%;
  display: block;
  flex: 1;
  display: flex;
}
.container main .forms-group .UserDataDetail > p {
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 500;
  color: #8f8f8f;
}
.container main .forms-group:nth-child(8) {
  padding-bottom: 28px;
}
.container main .forms-button {
  width: 100%;
  height: 44px;
}
.container main .forms-button .btn_submit {
  height: 100%;
  background: #5064ff;
  width: 100%;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}
.container main .forms-button .btn_submit.active {
  background: #f6f6f6;
  color: black;
}
.container .AreaBox {
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.32);
  background: white;
  border-radius: 16px 16px 0 0;
  z-index: 1;
}
.container .AreaBox .Area-top {
  border-bottom: 1px solid #efefef;
}
.container .AreaBox .Area-top > button {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 24px;
  padding: 0;
  background: 0;
  border: 0;
}
.container .AreaBox .Area-top > strong {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  width: 100%;
  padding: 18px 0;
  display: block;
}
.container .AreaBox .Area-bottom {
  padding: 12px 16px 28px 16px;
}
.container .AreaBox .Area-bottom > h2 {
  font-weight: 700;
  font-size: 16px;
  list-style: 16px;
  padding-bottom: 16px;
}
.container .AreaBox .Area-bottom ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1;
}
.container .AreaBox .Area-bottom ul li {
  width: calc(25% - 6px); /* 6px = (3 * 8px / 4) */
}
.container .AreaBox .Area-bottom ul li button {
  width: 100%;
  border-radius: 48px;
  padding: 9px 0;
  font-size: 14px;
  line-height: 14px;
  border: 0;
  color: #303030;
  font-weight: 400;
}
.container .AreaBox .Area-bottom ul li button:hover {
  color: #ffffff;
  background: #5064ff;
  font-weight: 700;
}
.container .AreaBox .Area-bottom ul li button.active {
  color: #ffffff;
  background: #5064ff;
  font-weight: 700;
}
.container .AreaBox .AreaBtn .Btn {
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  padding: 14px 0;
  font-weight: 600;
  color: #ffffff;
  background: #5064ff;
  border: 0;
}/*# sourceMappingURL=style.css.map */